body {
    font-family: Arial, Helvetica, sans-serif;
}

body h2 {
    margin: 0;
}

.my-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}





/*
    form-review
*/
.form-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    --rds: 20px;
    --el-rds: 25px;
}

.form-review * {
    box-sizing: border-box;
}

/*
    rev-form-banner
*/
.rev-form-banner {
    width: 100%;
    z-index: 0;
    position: relative;
    border-radius: var(--rds);
    padding: 20px;
    overflow: hidden;
    background: radial-gradient(102.44% 569.65% at 73.07% 64.62%, #F0F0F0 0%, #E0E0E0 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 55.3%, rgba(255, 255, 255, 0.2) 100%);

    @media (min-width: 576px) {
        padding: 40px 40px 60px 40px;
        margin-bottom: -58px;
        border-radius: var(--rds);
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 25px;
        max-width: 315px;
        display: none;

        @media (min-width: 950px) {
            display: flex;
        }
        
        @media (min-width: 1200px) {
            max-width: 345px;
            right: 40px;
            bottom: -45px;
        }
    }
}

.rev-form-banner-text {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 255px;

    @media (min-width: 340px) {
        gap: 410px;
    }

    @media (min-width: 500px) {
        gap: 450px;
    }

    @media (min-width: 576px) {
        max-width: 630px;
        gap: 35px;
        margin-right: auto;
    }

    &__btn {
        color: white;

        span {
            color: white;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #383838;
        text-align: center;

        @media (min-width: 576px) {
            font-size: 36px;
            text-align: left;
        }
    }

    &__steklo {
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: center;
        padding: 15px 20px;
        position: relative;
        font-weight: 700;
        color: #383838;
        font-size: 14px;
        
        @media (min-width: 576px) {
            font-size: 16px;
            max-width: max-content;
            margin-right: auto;
        }

        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;

            img {
                position: absolute;
                bottom: 65%;
                width: 100%;
                z-index: -1;
                max-width: 300px;

                @media (min-width: 340px) {
                    bottom: 140%;
                }

                @media (min-width: 576px) {
                    display: none;
                }
            }
        }

        & > span {
            z-index: 1;
        }

        &:before {
            content: '';
            display: flex;
            width: 15px;
            min-width: 15px;
            aspect-ratio: 1;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 15C8.48491 15 9.46018 14.806 10.3701 14.4291C11.2801 14.0522 12.1069 13.4997 12.8033 12.8033C13.4997 12.1069 14.0522 11.2801 14.4291 10.3701C14.806 9.46018 15 8.48491 15 7.5C15 6.51509 14.806 5.53982 14.4291 4.62987C14.0522 3.71993 13.4997 2.89314 12.8033 2.1967C12.1069 1.50026 11.2801 0.947814 10.3701 0.570903C9.46018 0.193993 8.48491 -1.46764e-08 7.5 0C5.51088 2.96403e-08 3.60322 0.790176 2.1967 2.1967C0.790176 3.60322 0 5.51088 0 7.5C0 9.48912 0.790176 11.3968 2.1967 12.8033C3.60322 14.2098 5.51088 15 7.5 15ZM7.30667 10.5333L11.4733 5.53333L10.1933 4.46667L6.61 8.76583L4.75583 6.91083L3.5775 8.08917L6.0775 10.5892L6.7225 11.2342L7.30667 10.5333Z' fill='%23383838'/%3e%3c/svg%3e");
            z-index: 2;
            position: relative;
        }

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 20px;
            z-index: 1;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #F7F7F7;
                z-index: -1;
            }
        }
    }

    &__desc {
        position: relative;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        color: #383838;
        max-width: max-content;
        margin: 0 auto;
        margin-top: 5px;

        @media (min-width: 576px) {
            font-size: 30px;
            margin: 0;
            margin-right: auto;
            margin-top: 15px;
            text-align: left;
        }

        &-svg {
            position: absolute;
            width: 55px;
            height: 130px;
            top: calc(100% + 10px);
            right: 0;

            @media (min-width: 576px) {
                display: none;
            }
        }
    }

    &__white {
        background-color: white;
        font-size: 14px;
        font-weight: 700;
        padding: 14px 18px;
        border-radius: 20px;
        text-align: center;
        color: #383838;

        @media (min-width: 576px) {
            font-size: 16px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 15px 20px;
        border-radius: 20px;
        overflow: hidden;
        border: none;
        background: linear-gradient(90deg, #4CB074 0%, #286041 100%);
        font-size: 14px;
        color: white;
        font-weight: 600;

        @media (min-width: 576px) {
            font-size: 16px;
            max-width: max-content;
            width: 100%;
            margin-right: auto;

            span {
                min-width: max-content;
            }
        }

        svg {
            max-width: 20px;
            min-width: 20px;
            fill: white;
        }
    }
}

.rev-form {
    background: url('bg-form.png');
    padding: 10px;
    box-shadow: 0px 5px 17px 3px #00000033;
    border-radius: var(--rds);
    width: 100%;
    z-index: 5;
    position: relative;
    background-color: white;

    @media (min-width: 340px) {
        padding: 20px;
    }

    &__success {
        overflow: hidden;

        .rev-form-success {
            display: flex;
        }
    }

    &-success {
        position: absolute;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-weight: 600;
        color: #05BC80;
        text-align: center;
        pointer-events: none;
        user-select: none;
        display: none;
        left: 0;
        top: 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 2;
            opacity: 0.6;
            pointer-events: none;
            user-select: none;
        }

        svg {
            max-width: 160px;
            width: 100%;
            z-index: 5;
            color: #05BC80;

            @media (min-width: 576px) {
                max-width: 260px;
            }
        }

        span {
            display: flex;
            margin: 0 auto;
            z-index: 5;
            color: #05bc80;
            font-size: 20px;

            @media (min-width: 576px) {
                font-size: 30px
            }
        }
    }

    &__title {
        font-size: 23px;
        margin-bottom: 30px;
        margin-top: 10px;
        text-align: center;
        color: #383838;

        @media (min-width: 576px) {
            font-size: 30px;
            text-align: left;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__rating {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    &__tabs {
        display: flex;
        align-items: start;
        background: white;
        border: 1px solid #F2F2F2;
        margin-bottom: 25px;
        border-radius: 25px;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        font-size: 14px;

        @media (min-width: 576px) {
            flex-direction: row;
            border-radius: 50px;
        }
    }

    &__step {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        width: 100%;
        max-width: 100%;
        padding: 15px 40px 15px 15px;
        color: #333333;

        @media (min-width: 576px) {
            height: 60px;
            font-size: 15px;
            border-left: 1px solid #D9D9D9;
        }

        @media (min-width: 950px) {
            height: 50px;
            font-size: 16px;
        }

        &:first-child {
            border-left: unset;
        }

        &.active {
            background-color: #0EB77E;
            color: white;

            svg {
                display: none;

                &:nth-child(2) {
                    display: flex;
                }
            }

            span {
                color: white;
            }
        }

        svg {
            max-width: 20px;
            min-width: 20px;
            width: 100%;

            &:nth-child(2) {
                color: white;
                display: none;
            }
        }

        span {
            width: 100%;
            font-weight: 600;
            min-width: 100%;
        }
    }
}

.rev-form-steps {
    background-color: white;
    padding: 15px 15px;
    border-radius: 20px;
}

.rev-form-step {
    display: none;

    &.active {
        display: block;
    }

    &.rev-form-step-1.active ~ .rev-form-btns .rev-form-prev {
        display: none;
    }

    &.rev-form-step-1.active ~ .rev-form-btns .rev-form-next {
        @media (min-width: 576px) {
            max-width: 300px;
        }
    }
}

.rev-form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    
    @media (min-width: 500px) {
        flex-direction: row;
    }

    @media (min-width: 576px) {
        max-width: 576px;
        margin-top: 30px;
    }

    .rev-form-next,
    .rev-form-prev,
    button[type="submit"] {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        outline: none;
        border: none;
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        border-radius: var(--el-rds);
        font-size: 16px;
        font-weight: 600;

        svg {
            max-width: 8px;
        }
    }

    .rev-form-next,
    button[type="submit"] {
        background: linear-gradient(256deg, rgb(5, 188, 129) 0%, rgb(57, 156, 108) 27%, rgb(5, 188, 129) 100%);
        color: #fff;
        box-sizing: border-box;
        cursor: pointer;

        span {
            color: #fff;
        }

        &.disable {
            pointer-events: none;
            opacity: 0.8;
            user-select: auto;
        }
    }

    button[type="submit"] {
        display: none;
    }

    .rev-form-prev {
        color: #0EB67D;
        border: 1px solid #0EB67D;
        background-color: white;
        max-width: 60px;

        @media (min-width: 500px) {
            max-width: unset;
        }

        span {
            display: none;

            @media (min-width: 500px) {
                display: flex;
            }
        }
    }
}

.rev-form-more {
    margin-top: 25px;
    border: 2px solid #0EB77E;
    border-radius: var(--el-rds);

    &.active {
        .rev-form-more__current {
            svg {
                transform: rotate(180deg);
            }
        }

        .rev-form-more__content {
            display: flex;
        }
    }


    &__current {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0EB77E;
        font-weight: 600;
        font-size: 14px;
        gap: 10px;

        @media (min-width: 340px) {
            font-size: 16px;
        }

        @media (min-width: 500px) {
            font-size: 18px;
            gap: 15px;
        }

        @media (min-width: 576px) {
            font-size: 20px;
        }

        @media (min-width: 950px) {
            font-size: 22px;
        }

        span {
            color: #0EB77E;
        }

        svg {
            max-width: 25px;
            background-color: #0EB77E;
            border-radius: 50%;
            transition: .2s all;

            @media (min-width: 950px) {
                max-width: 32px;
            }
        }
    }

    &__content {
        font-size: 14px;
        display: none;

        @media (min-width: 950px) {
            font-size: 16px;
        }

        ol {
            padding-left: 33px;
            display: flex;
            flex-direction: column;
            margin: 0;
            gap: 10px;
        }
    }
}

.rev-form-label {
    font-weight: 600;
    color: #383838;
}

.rev-form-input {
    border-radius: var(--el-rds);
    outline: unset;
    border: 1px solid #D9D9D9;
    padding: 20px 20px;
    box-sizing: border-box;
    width: 100%;

    @media (min-width: 576px) {
        font-size: 16px;
    }
}

.rev-form-empty {
    color: #757575;
    font-size: 14px;
    margin-bottom: 5px;
}


.full-stars {
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #0EB77E;
}

.rating-group {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 25px;
    width: 25px;
    fill: #FFCC00;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #E1E1E1;
}
.full-stars .rating-group:hover label svg {
    fill: #FFCC00;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #E1E1E1;
}


.agree {
    color: #5E5E5E;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    max-width: max-content;

    @media (min-width: 576px) {
        font-size: 14px;
        margin-top: 20px;
    }

    a {
        color: #10B57C;
    }

    &.active {
        .agree__cb:before {
            opacity: 1;
            visibility: visible;
        }

        .agree__cb {
            background-color: #10B57C;
        }
    }

    &__cb {
        position: relative;
        min-width: 15px;
        height: 15px;
        border-radius: 3px;
        border: 1px solid #10B57C;

        &:before {
            opacity: 0;
            visibility: hidden;
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='none' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m57.9465 15.1467-34.6667 37.3333c-.5025.542-1.2075.851-1.9466.8534-.7088.0041-1.3901-.2742-1.8934-.7734l-13.33329-13.3333c-1.04566-1.0457-1.04566-2.741 0-3.7867 1.04566-1.0456 2.74101-1.0456 3.78667 0l11.44002 11.3867 32.72-35.3067c.6276-.7739 1.6343-1.1334 2.6101-.9321.9759.2014 1.7581.93 2.0281 1.8892.2699.9591-.0173 1.9888-.7449 2.6696z' fill='white'/%3e%3c/svg%3e");
            z-index: 1;
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            outline: unset;
        }
    }
}